<h1>My Tasks</h1>

<ul>
  <% @tasks.each do |task| %>
    <li>
      <% if task.completed == true %>
        <span>[X]</span>
      <% else %>
        <span>[ ]</span>    
      <% end %>
        <%= link_to task.title, task_path(task) %>
        <%= link_to "🗑", task_path(task), method: :delete %>
    </li>
  
  <% end %>
</ul>
<%= link_to "add task", tasks_new_path %>
<br>

  